<div id="side-panel" class="ui very wide vertical inverted labeled icon sidebar active">
  <div class="item">
    <div class="ui one column stackable center aligned page grid" drop-config="true" >
      <img class="medium ui image" src="images/sally-code-review.png" />
    </div>
  </div>
  <div class="item">
      <h1>Code Review !</h1>
  </div>
  <div class="ui inverted form">
    <ng-form name="config">
      <div class="field" ng-class="{error: !config.date}">
        <label>Pick a date</label>
        <div class="ui icon input">
          <i class="calendar icon"></i>
          <input type="date" ng-model="config.date" pick-a-date="date" placeholder="Select Date" pick-a-date-options="dateOptions" required>
        </div>
      </div>
      <div class="field" ng-class="{error: !config.redmineUrl}">
        <label>RedMine Base URL</label>
        <div class="ui icon input">
          <i class="external url icon"></i>
          <input type="url" ng-model="config.redmineUrl" placeholder="http://projects.redmine.org" required>
        </div>
      </div>
      <div class="field" ng-class="{error: !config.redmineDateFormat}">
        <label>RedMine Date Format</label>
        <div class="ui selection dropdown">
            <div class="default text">Date Format</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="fr">DD/MM/YYYY</div>
                <div class="item" data-value="en">MM/DD/YYYY</div>
            </div>
        </div>
      </div>
      <div class="field" ng-class="{error: !config.redmineProject}">
        <label>RedMine Project</label>
        <input type="text" ng-model="config.redmineProject" placeholder="Technomic" required>
      </div>
      <div class="field" ng-class="{error: !config.spreadsheetId}">
        <label>Google Spreadsheet ID</label>
        <div class="ui icon input">
          <i class="cloud icon"></i>
          <input type="text" ng-model="config.spreadsheetId" placeholder="1gvvZT9sY2Y7COC..." required>
        </div>
      </div>
      <div class="field" ng-class="{error: !config.redmineCookie}">
        <label>RedMine Cookie Value</label>
        <textarea ng-model="config.redmineCookie" placeholder="BAh7DkkiDHVzZXJfaWQGOgZF..." ng-minlength="11" rows="3" required></textarea>
      </div>
      <div class="ui horizontal icon divider">
        <i class="circular inverted leaf icon"></i>
      </div>
      <div class="item">
        <div class="2 fluid ui buttons">
          <div class="ui negative button" ng-class='{disabled: config.$invalid}' ng-click="saveConfig()">Save</div>
          <div class="ui positive button" ng-class='{disabled: config.$invalid}' ng-click="codeReview()">Go!</div>
        </div>
      </div>
    </ng-form>
  </div>
</div>